
.DS_Store
iamend_ci/.DS_Store
iamend_ci/datos/.DS_Store
iamend_ci/datos/marzo2023/.DS_Store
.ipynb_checkpoints/test mu consistencia-checkpoint.ipynb
.ipynb_checkpoints/test helper-checkpoint.ipynb
.ipynb_checkpoints/Bobinas Azules -checkpoint.ipynb
.DS_Store
